.lk {
	margin-top: 140px;
}
.lk-block {
	width: 100%;
	display: flex;
	border: 2px solid #FF5B00;
}
.lk-item {
	width: 100%;
}
.lk-content {
	padding: 44px;
}
.lk-title {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 70px;
}
.lk__title {
	font-weight: 800;
	font-size: 28px;
	line-height: 34px;
	color: #000000;
}
.lk-out {
	font-weight: 600;
	font-size: 16px;
	line-height: 20px;
	text-decoration-line: underline;
	color: #000000;
}
.lk-flex {
	display: flex;
	justify-content: space-between;
}
.lk-flex-item {
	width: calc(50% - 5px);
}
.lk-title2 {
	font-weight: 800;
	font-size: 18px;
	line-height: 22px;
	color: #000000;
}
.lk-title2 span {
	font-weight: 400;
}
.lk-btn {
	margin-top: 18px;
	display: block;
	font-weight: 600;
	font-size: 16px;
	line-height: 20px;
	color: #000000;
	border: 2px solid #000000;
	padding: 18px 0;
	text-align: center;
}
.balans {
	font-weight: 800;
	font-size: 18px;
	line-height: 22px;
	color: #000000;
	margin-top: 40px;
}
.balans-count {
	font-weight: 400;
	font-size: 34px;
	line-height: 41px;
	color: #FF5B00;
	margin-bottom: 15px;
}
.balans-flex {
	display: flex;
	justify-content: space-between;
}
.balans-btns1 {
	display: block;
	text-align: center;
	padding: 18px 0;
	background: #000000;
	font-weight: 600;
	font-size: 16px;
	line-height: 20px;
	color: #FFFFFF;
	width: 100%;
	margin-right: 10px;
}
.balans-btns2 {
	display: block;
	width: 100%;
	text-align: center;
	padding: 18px 0;
	background: #FF5B00;
	font-weight: 600;
	font-size: 16px;
	line-height: 20px;
	color: #FFFFFF;
}
.lk-btns {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.lk-btn2 {
	font-weight: 600;
	font-size: 13.5464px;
	line-height: 17px;
	padding: 18px 0;
	width: calc(50% - 5px);
	color: #000000;
	text-align: center;
	border: 1.6933px solid #FF5B00;
	margin-top: 10px;
}
.lk-bg {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 60px 40px;
	background: url('../image/lk.png');
	background-size: 100% 100%;
	background-repeat: no-repeat;
	height: 100%;
}
.lk-bg__title {
	font-weight: 800;
	font-size: 28px;
	line-height: 34px;
	color: #FFFFFF;
	margin-bottom: 25px;
}
.lk-bg__text {
	font-weight: 400;
	font-size: 18px;
	line-height: 22px;
	color: #FFFFFF;
	width: 60%;
	margin-bottom: 15px;
}
.lk-bg__long {
	font-weight: 400;
	font-size: 18px;
	width: 60%;
	line-height: 22px;
	color: #FFF500;
}
.lk-bg-bottom__title {
	font-weight: 800;
	font-size: 20px;
	line-height: 24px;
	margin-bottom: 20px;
	color: #FFFFFF;
}
.lk-bg-btns {
	display: flex;
	justify-content: space-between;
}
.lk-bg-btn {
	width: calc(33% - 3px);
	background: #FF5B00;
	padding: 18px 0;
	display: block;
	text-align: center;
	font-weight: 600;
	font-size: 13.5464px;
	line-height: 17px;
	color: #FFFFFF;
}
.lk2 {
	margin: 30px 0 40px 0;
}
.lk2-flex {
	display: flex;
	justify-content: space-between;
}
.lk-2-flex-item {
	width: 80%;
	margin-right: 20px;
}
.lk-2-flex-item2 {
	width: 20%;
}
.online-mon-flex {
	display: flex;
	justify-content: space-between;
	border: 2px solid #FF5B00;
}
.online-mon-flex-item {
	width: 40%;
}
.online-mon-flex-item2 {
	width: 60%;
}
.online-mon-flex-text {
	padding: 100px 0 100px 30px;
	font-weight: 800;
	font-size: 22px;
	line-height: 27px;
	color: #000000;
}
.osad-flex {
	display: flex;
	justify-content: space-between;
	margin: 30px 0;
}
.osad-item {
	width: calc(50% - 15px);
}
.osad-card {
	border: 2px solid #FF5B00;
}
.osad-card-cont {
	padding: 40px 20px 70px 20px;
}
.osad-card__title {
	font-weight: 800;
	font-size: 22px;
	line-height: 27px;
	margin-bottom: 30px;
	color: #000000;
	text-align: center;
	min-height: 54px;
}
.osad-card__text {
	font-weight: 400;
	font-size: 16px;
	line-height: 20px;
	text-align: center;
	color: #000000;
	margin-bottom: 30px;
	min-height: 60px;
}
.osad-card__link {
	display: block;
	padding: 17px 75px;
	width: fit-content;
	font-weight: 600;
	font-size: 16px;
	line-height: 20px;
	background: #000000;
	margin: 0 auto;
	color: #FFFFFF;
}
.osad-card__image {
	position: relative;
	top: 2px;
}
.osad-card__image img {
	width: 100%;
}
.info-card {
	background: #303030;
	padding: 50px 44px;
}
.info-card-item:not(:last-child) {
	margin-bottom: 50px;
}
.info-card__title {
	font-weight: 800;
	font-size: 16px;
	line-height: 19px;
	text-transform: uppercase;
	color: #FFFFFF;
	margin-bottom: 5px;
}
.info-card__text {
	font-weight: 400;
	font-size: 16px;
	line-height: 19px;
	color: #FFFFFF;
}
.inputs-flex2 {
	margin: 15px 0;
}
.inputs-flex2 input {
	width: calc(50% - 8px);
}
.donate-form {

}
.donate-form .form-bg__title {
	font-weight: 800;
	font-size: 28px;
	line-height: 34px;
	text-align: left;
	color: #000000;
	text-transform: initial;
}
.donate-form .form-bg {
	background: #fff;
	border: 2px solid #FF5B00;
	padding: 50px;
}
.donate-form .input {
	font-weight: 400;
	font-size: 16px;
	line-height: 20px;
	padding: 16.5px 38px;
	color: #C6C6C6;
	border: 2px solid #000000;
	width: 500px;
}
.donate-form .btn-send {
	background: #FF5B00;
	font-weight: 400;
	font-size: 16px;
	line-height: 20px;
	color: #FFFFFF;
	border: none;
	padding: 18px 38px;
	width: fit-content;
}
.donate__title {
	font-weight: 400;
	font-size: 18px;
	line-height: 22px;
	margin-bottom: 15px;
	color: #000000;
}
.donate__image {
	margin-top: 20px;
	width: 200px;
}
.donate__image img {
	width: 100%;
}
.donate-card {
	margin-bottom: 50px;
}
.donate-text {
	font-weight: 400;
	font-size: 18px;
	line-height: 22px;
	color: #FF5B00;
}
.shop {
	margin: 175px 0 50px 0;
}
.shop-flex {
	display: flex;
	justify-content: space-between;
}
.shop-item {
	width: 75%;
	margin-right: 25px;
}
.shop-item2 {
	width: 25%;
}
.shop-content {
	border: 2px solid #FF5B00;
	padding: 40px;
}
.shop__title {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 50px;
}
.shop-title {
	font-weight: 800;
	font-size: 28px;
	line-height: 34px;
	color: #000000;
}
.shop-lk {
	font-weight: 600;
	font-size: 16px;
	line-height: 20px;
	text-decoration-line: underline;
	color: #000000;
}
.balance-block {
	padding: 30px;
	text-align: center;
	border: 2px solid #FF5B00;
	margin-bottom: 25px;
}
.balance-block__title {
	font-weight: 800;
	font-size: 18px;
	line-height: 22px;
	text-align: center;
	color: #000000;
}
.balance-block__count {
	font-weight: 400;
	font-size: 34px;
	line-height: 41px;
	text-align: center;
	color: #FF5B00;
	margin: 30px 0 50px 0;
}
.balance-block-btn {
	font-weight: 600;
	font-size: 16px;
	line-height: 20px;
	color: #FFFFFF;
	background: #000000;
	padding: 18px 0;
	width: 100%;
	cursor: pointer;
}
.shop .lk-bg {
	padding: 40px 30px;
	height: fit-content;
	text-align: center;
	background-size: cover;
}
.shop .lk-bg__text {
	width: 100%;
}
.shop .lk-bg__long {
	width: 100%;
	margin-bottom: 80px;
}
.shop .lk-bg-bottom__title {
	font-size: 20px;
	line-height: 24px;
}
.shop .lk-bg-btns {
	display: block;
	width: 80%;
	margin: 0 auto;
}
.shop .lk-bg-btn {
	width: 100%;
	margin-bottom: 13px;
}
.shop__text {
	font-weight: 800;
	font-size: 17px;
	line-height: 21px;
	color: #000000;
}
.shop__text2 {
	font-weight: 400;
	font-size: 14px;
	line-height: 17px;
	color: #000000;
	margin-bottom: 55px;
}
.shop-btns {
	margin: 20px 0;
	display: flex;
	justify-content: space-between;
}
.shop-btn {
	padding: 17px 0;
	text-align: center;
	font-weight: 600;
	font-size: 16px;
	line-height: 20px;
	color: #FFFFFF;
	background: #FF5B00;
	width: 32%;
	cursor: pointer;
}
.shop-input {
	border: 2px solid #000000;
	padding: 17px 50px;
	font-weight: 600;
	font-size: 16px;
	line-height: 20px;
	color: #C5C5C5;
	width: 32%;
}
.shop-category {
	margin-bottom: 15px;
	font-weight: 800;
	font-size: 18px;
	line-height: 22px;
	color: #000000;
}
.select {
	position: relative;
	width: 100%;
	height: 55px;
}
.select-contant {
	display: block;
	height: 100%;
}
.select i.arrowDown {
	width: 1px;
	height: 1px;
	position: absolute;
	right: 50px;
	top: 6px;
	z-index: 22;
}
.dropdown-item {
	background: #FF5B00;
	max-height: 55px;
}
.dropdown-item:nth-child(1) {
	margin-top: 55px;
}
.dropdown-item {

}
.dropdown-el {
	left: 0px;
	top: 0px;
	width: 100%;
	min-width: 100px;
	position: absolute;
	display: inline-block;
	min-height: 100%;
	max-height: 100%;
	overflow: hidden;
	cursor: pointer;
	text-align: left;
	white-space: nowrap;
	color: #fff;
	outline: none;
	background: #FF5B00;
	-webkit-transition: 0.3s all ease-in-out;
	-o-transition: 0.3s all ease-in-out;
}
.dropdown-el:hover {

}
.dropdown-el:hover span{

}
.dropdown-el.noabsolute {
	position: relative;
}
.dropdown-el:hover {

}
.dropdown-el input {
	width: 1px;
	height: 1px;
	display: inline-block;
	position: absolute;
	opacity: 0.01;
	visibility: hidden;
}
.dropdown-el label {
	display: block;
	line-height: 2em;
	padding-left: 1em;
	padding-right: 3em;
	cursor: pointer;
	position: relative;
	-webkit-transition: 0.3s color ease-in-out;
	-o-transition: 0.3s color ease-in-out;
	transition: 0.3s color ease-in-out;
	visibility: hidden;
}
.dropdown-el label span {


}
.dropdown-el input:checked + label {
	visibility: visible;
	display: block;
	border-top: none;
	position: absolute;
	top: 0;
	width: 100%;
	font-weight: 700;
	font-size: 20px;
	line-height: 24px;
	min-height: 55px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	color: #fff;
}
.dropdown-el input:checked + label:nth-child(2) {
	margin-top: 0;
}
.dropdown-el input:checked + label:hover {

}
.dropdown-el::after {
	content: "";
	position: absolute;
	right: 0.8em;
	top: 0.9em;
	-webkit-transition: 0.4s all ease-in-out;
	-o-transition: 0.4s all ease-in-out;
	transition: 0.4s all ease-in-out;
	display: none;
}
.dropdown-el.expanded {
	z-index: 10;
	padding: 0;
	max-height: unset;
}
.dropdown-el.expanded label {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	height: 50px;
	border-top: none;
	font-size: 16px;
	font-weight: bold;
	visibility: visible;
	color: #fff;
}
.dropdown-el.expanded label:hover span{

}
.dropdown-el.expanded input:checked + label {

}
.shops-items {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-top: 10px;
}
.shops-item {
	width: calc(25% - 5px);
	margin-bottom: 8px;
}
.shops-card {
	background: #EDEDED;
}
.shops-card__image {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 35px 0;
}
.shops-card__image img {
	width: 70px;
	height: 70px;
}
.shops-card-btns {
	display: flex;
	justify-content: space-between;
	position: relative;
}
.shops-card-count {
	font-weight: 600;
	font-size: 10px;
	line-height: 10px;
	padding: 12px;
	color: #FFFFFF;
	text-align: center;
	display: flex;
	align-items: center;
	background: #8F8F8F;
}
.shops-card-price {
	font-weight: 600;
	font-size: 10px;
	line-height: 10px;
	padding: 12px;
	color: #FFFFFF;
	text-align: center;
	display: flex;
	align-items: center;
	background: #8F8F8F;
}
.shops-card-add {
	padding: 10px;
	background: #FF5B00;
}
.shops-card-eye {
	padding: 10px;
	position: absolute;
	right: 0;
	top: -110%;
	background: #8F8F8F;
}
.shops-card-eye img {
	width: 22px;
	height: 22px;
}
.flex-end {
	display: flex;
	justify-content: flex-end;
	margin-top: 10px;
}
.top {
	background: #FF5B00;
	padding: 8px;
}